<nav class="navbar fixed-top">
  <div class="container-fluid">
    <div class="float-left">
      <a class="navbar-brand" href="#"><i class="fas fa-angle-left"></i></a>
      <a class="navbar-brand" href="#">Websites</a>
    </div>
    <a class="navbar-brand float-right" routerLink="/user/{{userId}}/website/new">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</nav>

<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let website of websites">
      <a routerLink="/user/{{userId}}/website/{{website._id}}"><span class="fas fa-cog float-right"></span></a>
      <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom">
  <div class="container-fluid">
    <a class="ml-auto">
      <i class="fas fa-user"></i>
    </a>
  </div>
</nav>

