<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a routerLink="/user/{{userId}}/website" class="navbar-brand" href="#"><i
      class="fas fa-angle-left"></i></a>
    <a class="navbar-brand text-black">Pages</a>
  </div>
  <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/new" class="navbar-nav ml-auto mt-lg-0">
    <i class="fas fa-plus"></i>
  </a>
</nav>

<div class="container">
  <ul class="list-group">
    <li class="list-group-item cl-list-group-borderless" *ngFor="let page of pages">
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}"><span
        class="fas fa-cog float-right"></span></a>
      <a routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{page._id}}/widget">{{page.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <a routerLink="/user/{{userId}}" class="navbar-brand ml-auto" href="#"><i class="fas fa-user"></i></a>

</nav>
