.container {
  padding-top: 10px;
}

.col-sm-10 {
  color: black;
  font-weight: bold;
}

p {
  font-weight: normal;
}

.fas {
  color: black;
}

.fa-user {
  color: steelblue;
  float: right;
}

.fa-cog {
  color: steelblue;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.row {
  padding-top: 10px;
}

