<nav class="navbar navbar-expand-lg navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand cl-text-white" routerLink="">Profile</a>
    <a (click)="UpdateUser()" class="btn-primary navbar-text pull-right"><span>
      <i class="fas fa-check"></i>
    </span></a>
  </div>
</nav>

<div class="container">
  <h1>Profile</h1>

  <div class="form-group">
    <label for="username"><b>Username</b></label>
    <input [(ngModel)]="user.username" type="text" class="form-control" id="username"
           placeholder="username"/>
  </div>
  <div class="form-group">
    <label for="email"><b>Email</b></label>
    <input [(ngModel)]="user.email" type="email" class="form-control" id="email"
           placeholder="abcdefg@xxx.com"/>
  </div>
  <div class="form-group">
    <label for="firstname"><b>First Name</b></label>
    <input [(ngModel)]="user.firstName" type="text" class="form-control" id="firstname"
           placeholder="first name"/>
  </div>
  <div class="form-group">
    <label for="lastname"><b>Last Name</b></label>
    <input [(ngModel)]="user.lastName" type="text" class="form-control" id="lastname"
           placeholder="last name"/>
  </div>
  <a routerLink="/user/:uid/website" class="btn btn-primary btn-block">Websites</a>
  <a routerLink="/login" class="btn btn-danger btn-block">Logout</a>

</div>
<nav class="navbar fixed-bottom">
  <ul class="navbar-nav ml-auto mt-lg-0">
    <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>
  </ul>
</nav>
