<body>
<div class="ib" id="page1">
  <nav class="navbar">
    <div>
      <a routerLink="/user/{{userId}}" class="navbar-brand" href="#"><i class="fas fa-angle-left"></i></a>
      <a class="navbar-brand text-white">Websites</a>
    </div>
    <a class="navbar-brand float-right" routerLink="/user/{{userId}}/website/new">
      <i class="fas fa-plus"></i>
    </a>
  </nav>

  <div class="container">
    <ul class="list-group cl-list-group-borderless">
      <li class="list-group-item cl-list-item-borderless" *ngFor="let website of websites">
        <a routerLink="/user/{{userId}}/website/{{website._id}}"><span class="fas fa-cog float-right"></span></a>
        <a routerLink="/user/{{userId}}/website/{{website._id}}/page">{{website.name}}</a>
      </li>
    </ul>
  </div>

  <nav class="navbar fixed-bottom">
    <ul class="navbar-nav ml-auto mt-lg-0">
      <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>
    </ul>
  </nav>
</div>

<div class="ib" id="page2">
  <nav class="navbar">
    <div>
      <a class="navbar-brand" href="#"><i class="fas fa-angle-left" id="w-left"></i></a>
      <a class="navbar-brand" href="#">New Websites</a>
    </div>
    <a (click)="create()" class="navbar-nav ml-auto mt-lg-0">
      <i class="fas fa-check" id="w-check"></i>
    </a>
  </nav>

  <div class="container">
    <form #f="ngForm">
      <div class="form-group">
        <label for="name"><b>Name</b></label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name" ngModel required
               #name="ngModel"/>
      </div>
      <div class="form-group">
        <label for="Description"><b>Description</b></label>
        <textarea class="form-control" name="description" id="Description" placeholder="Description" rows="6"
                  ngModel required #description="ngModel"></textarea>
      </div>
    </form>
  </div>
</div>

<nav class="navbar fixed-bottom">
  <div class="container-fulid">
    <a routerLink="/user/{{userId}}" class="ml-auto">
      <i class="fas fa-user"></i></a>
  </div>
</nav>

