.fas {
  color: black;
  cursor: pointer;
}

.fa-user {
  color: steelblue;
}

.container {
  padding-top: 40px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.btn {
  margin-top: 5px;
}
