<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a routerLink="../" class="navbar-brand" href="#"><i class="fas fa-angle-left"></i></a>
    <a class="navbar-brand text-black font-weight-bold">Widget Edit</a>
  </div>
  <a (click)="updateWidget()" class="navbar-nav ml-auto mt-lg-0">
    <i class="fas fa-check"></i>
  </a>
</nav>
<div class="container">
  <form>
    <div class="form-group">
      <label for="name"><b>Name</b></label>
      <input [(ngModel)]="widget.name"
             name="name"
             type="text"
             class="form-control"
             id="name"
             placeholder="Page Name"/>
    </div>
    <div class="form-group">
      <label for="Description"><b>Text</b></label>
      <input [(ngModel)]="widget.text"
             name="text"
             type="text"
             class="form-control"
             id="Description"
             placeholder="Page Title"/>
    </div>
    <div class="form-group">
      <label for="url"><b>URL</b></label>
      <input [(ngModel)]="widget.url"
             name="url"
             type="url"
             class="form-control"
             id="url"
             placeholder="http://google.com"/>
    </div>
    <div class="form-group">
      <label for="width"><b>Width</b></label>
      <input [(ngModel)]="widget.width"
             name="width"
             type="number"
             class="form-control"
             id="width"
             placeholder="100%"/>
    </div>
  </form>
  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
    <input name="myFile" type="file" class="form-control"/>
    <input name="widgetId" value="{{widgetId}}" style="display: none"/>
    <input name="websiteId" value="{{websiteId}}" style="display: none"/>
    <input name="pageId" value="{{pageId}}" style="display: none"/>
    <input name="userId" value="{{userId}}" style="display: none"/>
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
  </form>

  <a class="btn btn-info btn-block"
     [routerLink]="['/user/'+userId+'/website/'+websiteId+'/page/'+pageId+'/widget/'+widget._id+'/flickr']">
    Choose From Flickr</a>

  <a class="btn btn-danger btn-block text-white" (click)="deleteWidget()">Delete</a>

</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <a routerLink="/user/{{userId}}" class="navbar-brand ml-auto" href="#"><i class="fas fa-user"></i></a>
</nav>
