.navbar {
  background: steelblue;
}

.fas {
  color: white;
}

.fa-check {
  cursor: pointer;
}

.fa-cog {
  color: steelblue;
}

.form-group {
  padding-top: 30px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.row {
  padding-top: 30px;
}

@media (orientation: landscape) {
  .ib {
    float: left;
    width: 50%;
  }

  .fa-user {
    visibility: hidden;
  }

  #w-left {
    visibility: hidden;
  }

  #w-check {
    visibility: hidden;
  }
}

@media (orientation: portrait) {
  #page1 {
    display: none !important;
  }
}

