<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div>
    <a class="navbar-brand" href="#"><i class="fas fa-angle-left"></i></a>
    <a class="navbar-brand" href="#">Widget</a>
  </div>
  <ul class="navbar-nav ml-auto mt-lg-0">
    <i class="fas fa-plus"></i>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10"><h1>HUFFPOST</h1></div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10"><h2>Success On A Green New Deal Runs Through Public Lands</h2></div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <img src="https://media.mnn.com/assets/images/2015/08/union-wood-sunrise.jpg.653x0_q80_crop-smart.jpg"
           class="rounded float-left img-thumbnail">
    </div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10"><p>
      Starting in 1933, during the heart of the Great Depression, hundreds of thousands of young, unmarried men went to
      work for the Civilian Conservation Corps, one of several federal programs created as part of Franklin D.
      Roosevelt’s New Deal. They built bridges, dams, roads, fire lookouts and other infrastructure.
    </p></div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10"><h2>Why Himeji is Japan's Greatest Castle</h2></div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cE0RAhEsbdg" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <p>
        Himeji Castle is Japan's most famous castle; but does it live up to the hype? Ryotaro and I visit for the first
        time as we continue our Journey Across Japan, visiting the world's largest suspension bridge along the way.
      </p>
    </div>
    <div class="col-sm-2"><i class="fas fa-cog"></i></div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto mt-lg-0">
    <a class="navbar-brand" href="#"><i class="fas fa-user"></i></a>
  </ul>
</nav>
